.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 0;
}

.child{
    width: 100%;
    max-width: 400px;
}

.form-title {
  margin-left: 130px;
  margin-top: 10px; /* Adjust the margin to reduce the space */
}

.login-form{
    display: flex;
    flex-direction: column;
}

.mat-form-field{
    width: 100%;
}

button {
  width: 100%;
  padding: 12px 20px; /* Adjust padding to your preference */
  font-size: 16px; /* Adjust font size to your preference */
}

@media(max-width: 768px){
  .parent{
    padding:0 10px;
  }
  .child{
    max-width: 100%;
  }
}
